/* Текст (основний колір) #2E2F42 */

/* Текст (вторинний колір) #434455 */

/* Текст (акцентний колір) #E7E9FC */

/* Лого та кнопка #4D5AE5 */

/* Текст заголовка білий #FFFFFF */

/* Фон акцентний темно синій #2E2F42 */

/* Фон первинний світлий #FFFFFF */

/* Фон вторинний світло-блакитний #F4F4FD */

/* Фон підкладок під фото #E7E9FC */

:root{
    --text-color:#2E2F42;
    --title-color:#434455;
    --background-color:#2E2F42;
    --active-color:#4D5AE5;
    --pressed-color:#404BBF;
    --btn-text:#FFFFFF; 
    --background-light:#F4F4FD;
    --logo-web:#4D5AE5;
    --logo-web:#E7E9FC;
    --authorization:#434455;
    --team-text:#434455;
    --white:#FFFFFF;
    --portfolio-btn:#e7e9fc;
    --portfolio-text-btn:#4D5AE5;
    --portfolio-text-hover-btn:#fff;
    --portfolio-tlo-hover-btn:#404BBF;
    --footer-text:#E7E9FC;
}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    padding-left: 0;
}

img{
    display: block;
}

.site-body{}

/* ------------------HEADER------------------ */

body {font-family: 'Roboto', sans-serif;
      background-color: var(--white);
      color: var(--text-color);}


.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);}

.span-studio{color: var(--background-color);}
.span-studio:hover {
    color: var(--active-color);
}

.span-studio:focus {
    color: var(--active-color);
   }

.header-logo:hover {
    color: var(--active-color);
    }

    /* Site Navigation */

.list {list-style: none;}
.link {text-decoration: none;}

.site-navigation a{
color: var(--text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
}

.site-authorization a{
color: var(--authorization);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

.header-link:hover{
    color: var(--active-color);
}

.header-link:focus{
    color: var(--active-color);
}

.header-tel{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--authorization);
    }

.header-mail{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--authorization);
}
    
.header-mail:hover,
.header-mail:focus{
    color: var(--active-color);
}

.header-tel:hover,
.header-tel:focus{
    color: var(--active-color);
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    }


/* ------------------HERO------------------ */

.hero {
    background-color: var(--background-color);
}

.hero-title{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}



.btn-hover:hover,
.btn-focus:focus{
    background-color: var(--pressed-color);
}
.hero-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--btn-text);
    cursor: pointer;
    background-color: var(--active-color);
}



/* ------------------SOLUTION------------------ */

.solution {
}
.solution-title {
}
.solution-list {
}
.solution-item {
}
.solution-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.solution-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/* --------------------SERVICES ----------------*/

.services {
}
.services-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
}
.services-list {
}


/* --------------------TEAM -------------------*/

.team {
    background-color: var(--background-light);
}
.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
}
.team-list {
}
.team-item {
    background-color: var(--white);
}
.team-photo {
}
.team-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--team-text);
}


/*----------------- FOOTER----------------- */

.footer{
    background-color: var(--background-color);
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-light);
}

.footer-span{
    color: var(--active-color);
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--FOTTER-P);
}

.footer-logo:hover,
.footer-logo:focus{
    color: var(--active-color);
}

/* ------------PROJECTS-------------- */

.projects {
}
.project-filter {
}
.project-item {
}
.project-list {
}
.project-li {
    background-color: var(--white);
}
.project-img {
}

.project-title {
font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-color);
}

.project-text {
font-size: 16px;
line-height: 1.28;
Letter-spacing: 0.02em;
color: var(--text-color);
}

.portfolio-btn{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--portfolio-text-btn);
background-color: var(--portfolio-btn);
cursor: pointer;   
}

.portfolio-btn-hover:hover{
    background-color: var(--portfolio-tlo-hover-btn);
    color: var(--portfolio-text-hover-btn);
}
.portfolio-btn-focus:focus{
    background-color: var(--portfolio-tlo-hover-btn);
    color: var(--portfolio-text-hover-btn);
}


.project-link{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--logo-web);
background-color: var(--background-light);
cursor: pointer;
}

.project-link:hover{
    color: var(--white);
    background-color: var(--logo-web);
}


h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;}

    ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.site-body{}

/* ------------------HEADER------------------ */

body {font-family: 'Roboto', sans-serif;
      background-color: var(--white);
      color: var(--text-color);}


.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);}

.span-studio{color: var(--background-color);}
.span-studio:hover {
    color: var(--active-color);
}

.span-studio:focus {
    color: var(--active-color);
   }

.header-logo:hover {
    color: var(--active-color);
    }

    /* Site Navigation */

.list {list-style: none;}
.link {text-decoration: none;}

.site-navigation a{
color: var(--text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
}

.site-authorization a{
color: var(--authorization);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

.header-link:hover{
    color: var(--active-color);
}

.header-link:focus{
    color: var(--active-color);
}

.header-tel{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--authorization);
    }

.header-mail{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--authorization);
}
    
.header-mail:hover,
.header-mail:focus{
    color: var(--active-color);
}

.header-tel:hover,
.header-tel:focus{
    color: var(--active-color);
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    }


/* ------------------HERO------------------ */

.hero {
    background-color: var(--background-color);
}

.hero-title{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}



.btn-hover:hover,
.btn-focus:focus{
    background-color: var(--pressed-color);
}
.hero-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--btn-text);
    cursor: pointer;
    background-color: var(--active-color);
}



/* ------------------SOLUTION------------------ */

.solution {
}
.solution-title {
}
.solution-list {
}
.solution-item {
}
.solution-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.solution-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/* --------------------SERVICES ----------------*/

.services {
}
.services-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
}
.services-list {
}


/* --------------------TEAM -------------------*/

.team {
    background-color: var(--background-light);
}
.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
}
.team-list {
}
.team-item {
    background-color: var(--white);
}
.team-photo {
}
.team-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--team-text);
}


/*----------------- FOOTER----------------- */

.footer{
    background-color: var(--background-color);
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-light);
}

.footer-span{
    color: var(--active-color);
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text);
}

.footer-logo:hover,
.footer-logo:focus{
    color: var(--active-color);
}

/* ------------PROJECTS-------------- */

.projects {
}
.project-filter {
}
.project-item {
}
.project-list {
}
.project-li {
    background-color: var(--white);
}
.project-img {
}

.project-title {
font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-color);
}

.project-text {
font-size: 16px;
line-height: 1.28;
Letter-spacing: 0.02em;
color: var(--text-color);
}

.portfolio-btn{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--portfolio-text-btn);
background-color: var(--portfolio-btn);
cursor: pointer;   
}

.portfolio-btn-hover:hover{
    background-color: var(--portfolio-tlo-hover-btn);
    color: var(--portfolio-text-hover-btn);
}
.portfolio-btn-focus:focus{
    background-color: var(--portfolio-tlo-hover-btn);
    color: var(--portfolio-text-hover-btn);
}


.project-link{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--LOGO-WEB);
background-color: var(--background-light);
cursor: pointer;
}

.project-link:hover{
    color: var(--white);
    background-color: var(--logo-web);
}